.App {
	font-family: sans-serif;
	text-align: center;
}

h1 {
	margin: 0.5rem 0;
}

h2.counter {
	font-size: 6rem;
	margin: 0 0.5rem 0 0;
}

.button-container {
	display: flex;
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	justify-content: space-evenly;
	gap: 5%;
	margin: 0 20%;
}

button {
	flex: 1 1;
	/* flex-basis: 100px; */
	max-width: 100px;
	height: 100px;
	border-radius: 25%;
}

button:hover {
	border: 2px solid lightgreen;
}
